<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Local_CaminhoFisicoArquivos" value="~/upload"/>
    <add key="Local_CaminhoLogicoArquivos" value="~/upload"/>
  </appSettings>
  <connectionStrings>

    <!--
    <add name="xaduxEntities" connectionString="metadata=res://*/XaduxModel.csdl|res://*/XaduxModel.ssdl|res://*/XaduxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DANILOBSI-PC\SQLEXPRESS2005;Initial Catalog=xadux;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="xaduxDataBase" connectionString="Data Source=DANILOBSI-PC\SQLEXPRESS2005;Initial Catalog=xadux;Integrated Security=True;MultipleActiveResultSets=True"/>
    -->
    
		<!--
    <add name="xaduxEntities" connectionString="metadata=res://*/XaduxModel.csdl|res://*/XaduxModel.ssdl|res://*/XaduxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=compaq\sqlexpress;Initial Catalog=Xadux; Integrated Security=true; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="xaduxDataBase" connectionString="Data Source=compaq\sqlexpress;Initial Catalog=Xadux; Integrated Security=true; MultipleActiveResultSets=True"/>
		-->
    
    
    <add name="xaduxEntities" connectionString="metadata=res://*/XaduxModel.csdl|res://*/XaduxModel.ssdl|res://*/XaduxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NOTEBOOK-PC;Initial Catalog=xadux; Integrated Security=true; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="xaduxDataBase" connectionString="Data Source=NOTEBOOK-PC;Initial Catalog=Xadux; Integrated Security=true; MultipleActiveResultSets=True"/>
    
    <!--<add name="xaduxEntities" connectionString="metadata=res://*/XaduxModel.csdl|res://*/XaduxModel.ssdl|res://*/XaduxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aagcamargo-PC\sqlexpress;Initial Catalog=xadux; User ID=sa;Password=123;Integrated Security=true; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="xaduxDataBase" connectionString="Data Source=aagcamargo-PC\sqlexpress;Initial Catalog=xadux; User ID=sa;Password=123;Integrated Security=true; MultipleActiveResultSets=True"/>-->



  </connectionStrings>
  <system.web>
    <httpRuntime 
      requestValidationMode="2.0"
      executionTimeout="600"
      maxRequestLength="10000"   
    />

    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms defaultUrl="~/default.aspx" loginUrl="~/login.aspx" timeout="30" name="xadux"></forms>
    </authentication>
    <pages theme="SiteMain">
      <controls>
        <add src="~/WebUserControls/TopBandas.ascx" tagName="TopBandas" tagPrefix="Xadux" />
        <add src="~/WebUserControls/EventosList.ascx" tagName="EventosList" tagPrefix="Xadux" />
        <add src="~/WebUserControls/NoticiasList.ascx" tagName="NoticiasList" tagPrefix="Xadux" />
        <add src="~/WebUserControls/TopMusicas.ascx" tagName="TopMusicas" tagPrefix="Xadux" />
        <add src="~/WebUserControls/MenuAdministrativo.ascx" tagName="MenuAdministrativo" tagPrefix="Xadux" />
        <add src="~/WebUserControls/BandasList.ascx" tagName="BandasList" tagPrefix="Xadux" />
        <add src="~/WebUserControls/UsuariosList.ascx" tagName="UsuariosList" tagPrefix="Xadux" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>

    <mailSettings>

      <smtp from="xadux@xadux.com.br">
        <network host="smtp-web.uni5.net" port="25" userName="xadux@xadux.com.br" password="x_1234"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="~/Restrito">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
